<div class="container mt-4">
    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}
    <form method="POST" action="/auth/reset/{{token}}" id="form-new-password" class="form-inline">
        <div class="form-group col-md-10 mt-4 form-row">
            <label for="user_name" class="col-sm-2 col-form-label">Old password</label>
            <input required type="text" class="form-control" id="old_password" name="old_password"
                placeholder="Old password" value={{oldInput.old_password}}>
            <div class="invalid-feedback form-message"></div>
        </div>

        <div class="col-md-10 mt-4 form-row">
            <label for="password" class="col-sm-2 col-form-label">New Password</label>
            <input required type="password" class="form-control" id="password" name="password"
                placeholder="New Password" value={{oldInput.password}}>
            <i style="position: absolute; margin-left: 300px;  height: 80%; opacity: 0.8"
                class="fa fa-fw fa-eye-slash field-icon" onclick="passwordClickShowFunction(this)"></i>
            <div class="invalid-feedback  ml-4 form-message"> </div>
        </div>
        <div class="form-group col-md-10 mt-4 form-row">
            <label for="password_confirmation" class="col-sm-2 col-form-label">Confirm Password</label>
            <input required type="password" class="form-control" id="password_confirmation" name="password_confirmation"
                placeholder="Confirm New Password" value={{oldInput.password_confirmation}}>
            <i style="position: absolute; margin-left: 300px; height: 80%; opacity: 0.8;"
                class="fa fa-fw fa-eye-slash field-icon" onclick="passwordClickShowFunction(this)"></i>
            <div class="invalid-feedback ml-4 form-message"></div>
        </div>
        <div class="form-group col-md-10 mt-4 form-row">
            <button type="submit" class="btn btn-primary">Cập nhật mật khẩu</button>
        </div>
    </form>
</div>


<script src="/validators/loginValidator.js"></script>
<script>
    Validator({
        form: '#form-new-password',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#old_password', 'Nhập mật khẩu cũ'),
            Validator.isRequired('#password', 'Nhập mật khẩu mới'),
            Validator.isRequired('#password_confirmation', 'Xác nhận mật khẩu mới'),
            Validator.confirmPassword('#password_confirmation', function () { return document.querySelector('#password').value }, 'Mật khẩu không khớp'),
        ]
    })

    function passwordClickShowFunction(e) {
        const password = document.querySelector('#password')
        const eyeIcon = document.querySelector('#eyeIcon')
        if (password.type == 'password') {
            password.type = 'text'
        }
        else
            password.type = 'password'
        e.classList.toggle('fa-eye-slash')
        e.classList.toggle('fa-eye')

    }

</script>