<div class="container mt-4" style="width:70%;">
    {{#if error}}
    <div class=" alert alert-danger" role="alert" style="width:70%; margin: 0 auto;">
        {{error}}
    </div>
    {{/if}}
    {{#if respond}}
    <div class="alert alert-success" role="alert">
        {{respond}}
    </div>
    {{/if}}
    <form style="width:70%; margin: 0 auto; border-style:solid; border-color: rgb(9, 9, 63); padding:50px;"
        method="POST" action="/auth/signup" id="form-signup">
        <div class="form-group row">
            <h2 style="width:auto;margin: 0 auto">Đăng ký</h2>
        </div>
        <div class="form-group row mt-4">
            <div class="form-group col-sm-6 flex">
                <label for="first_name" style="width: 35%;" class="col-form-label">Họ
                    <sp style="color:red;"> *</sp>
                </label>
                <div style="width: 65%;">
                    <input type="text" style="width: 100%;" class="form-control" id="first_name" placeholder="">
                    <div class="invalid-feedback form-message"></div>
                </div>
            </div>
            <div class="form-group col-sm-6 flex">
                <label for="last_name" style="width: 35%;" class="col-form-label">Tên
                    <sp style="color:red;"> *</sp>
                </label>
                <div style="width: 65%;">
                    <input type="text" style="width: 100%;" class="form-control" id="last_name" placeholder="">
                    <div class="invalid-feedback form-message"></div>
                </div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <div class="form-group col-sm-6 flex">
                <label for="gender" style="width: 35%" class="col-form-label">Gender
                    <sp style="color:red;"> *</sp>
                </label>
                <div style="width: 65%;">
                    <select style="width: 100%;" id="inputState" name="gender" class="form-control">
                        <option selected>Nam</option>
                        <option>Nữ</option>
                        <option>Khác</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-6 flex">
                <label for="date_of_birth" style="width: 35%;" class="col-form-label">Date of birth
                    <sp style="color:red;"> *</sp>
                </label>
                <div style="width: 65%;">
                    <input style="width: 100%;" required type="date" class="form-control" id="date_of_birth"
                        name="date_of_birth" value={{oldInput.date_of_birth}}>
                    <div class="invalid-feedback ml-4 form-message"></div>
                </div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="phone_number" class="col-sm-3 col-form-label">Number phone
                <sp style="color:red;"> *</sp>
            </label>
            <div class="col-sm-9">
                <input required type="text" class="form-control" id="phone_number" name="phone_number"
                    value={{oldInput.phone_number}}>
                <div class="invalid-feedback ml-4 form-message"></div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="user_name" class="col-sm-3 col-form-label">User name
                <sp style="color:red;"> *</sp>
            </label>
            <div class="col-sm-9">
                <input required type="text" class="form-control" id="user_name" name="user_name" placeholder="User name"
                    value="{{oldInput.user_name}}">
                <div class="invalid-feedback form-message"></div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="email" class="col-sm-3 col-form-label">Email
                <sp style="color:red;"> *</sp>
            </label>
            <div class="col-sm-9">
                <input required type="email" class="form-control" id="email" name="email" placeholder="Email"
                    value="{{oldInput.email}}">
                <div class="invalid-feedback form-message"></div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="password" class="col-sm-3 col-form-label">Password
                <sp style="color:red;"> *</sp>
            </label>
            <div class="col-sm-9">
                <i style="position: absolute; margin-left: 450px; margin-top:10px;height: 100%; opacity: 0.8"
                    class="fa fa-fw fa-eye-slash field-icon" onclick="passwordClickShowFunction(this)"></i>
                <input required type="password" class="form-control" id="password" name="password"
                    placeholder="Password" value={{oldInput.password}}>
                <small id="passwordHelpInline" class="text-muted ml-4">
                    Must contain number, uppercase, lowercase and special character.
                </small>
                <div class="invalid-feedback  ml-4 form-message"> </div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="password_confirmation" class="col-sm-3 col-form-label">Confirm Password
                <sp style="color:red;"> *</sp>
            </label>
            <div class="col-sm-9">
                <i style="position: absolute; margin-left: 450px;  margin-top:10px; height: 100%; opacity: 0.8;"
                    class="fa fa-fw fa-eye-slash field-icon" onclick="passwordClickShowFunction(this)"></i>
                <input required type="password" class="form-control" id="password_confirmation"
                    name="password_confirmation" placeholder="Confirm Password"
                    value={{oldInput.password_confirmation}}>
                <div class="invalid-feedback ml-4 form-message"></div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="address" class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
                <textarea required type="text" class="form-control" id="address"
                    name="address">{{oldInput.address}}</textarea>
                <div class="invalid-feedback ml-4 form-message"></div>
            </div>
        </div>
        <div class="form-group row mt-4">
            <button type="submit" style="margin: 0 auto;" class="btn btn-primary">Sign up</button>
        </div>
        <div class="dropdown-divider mt-5"></div>

        <div class="form-group row mt-5">
            <a class="btn btn-success btn-md active" style="margin: 0 auto;" href="/auth/login">Log in</a>
        </div>
    </form>
</div>

<script src="/validators/inputValidator.js"></script>
<script>
    Validator({
        form: '#form-signup',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#user_name', 'Nhập tên đầy đủ'),
            Validator.isRequired('#email', 'Nhập email'),
            Validator.isRequired('#password', 'Nhập mật khẩu'),
            Validator.isRequired('#password_confirmation', 'Xác nhận lại mật khẩu'),
            Validator.isRequired('#date_of_birth', 'Nhập ngày sinh'),
            Validator.isRequired('#phone_number', 'Nhập số điện thoại'),
            Validator.isRequired('#address', 'Nhập địa chỉ'),
            Validator.confirmPassword('#password_confirmation', function () { return document.querySelector('#password').value }, 'Mật khẩu không khớp'),
            Validator.isEmail('#email', 'Email không hợp lệ')
        ]
    })

    function passwordClickShowFunction(e) {
        const password = e.closest('div').querySelector('input')  // password or confirm password
        if (password.type == 'password')
            password.type = 'text'
        else
            password.type = 'password'
        e.classList.toggle('fa-eye-slash')
        e.classList.toggle('fa-eye')
    }

</script>