<div class="container mt-4">
    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}
    {{#if respond}}
    <div class="alert alert-success" role="alert">
        {{respond}}
    </div>
    {{/if}}
    <form method="POST" action="/auth/signup" id="form-signup" class="form-inline">
        <div class="form-group col-md-10 mt-4 form-row">
            <label for="user_name" class="col-sm-2 col-form-label">User name</label>
            <input required type="text" class="form-control" id="user_name" name="user_name" placeholder="User name"
                value="{{oldInput.user_name}}">
            <div class="invalid-feedback form-message"></div>
        </div>
        <div class="form-group col-md-10 mt-4 form-row">
            <label for="user_name" class="col-sm-2 col-form-label">Email</label>
            <input required type="email" class="form-control" id="email" name="email" placeholder="Email"
                value="{{oldInput.email}}">
            <div class="invalid-feedback form-message"></div>
        </div>
        <div class="col-md-10 mt-4 form-row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <input required type="password" class="form-control" id="password" name="password" placeholder="Password"
                value={{oldInput.password}}>
            <i style="position: absolute; margin-left: 300px; height: 80%; opacity: 0.8"
                class="fa fa-fw fa-eye-slash field-icon" onclick="passwordClickShowFunction(this)"></i>
            <small id="passwordHelpInline" class="text-muted ml-4">
                Must contain number, uppercase, lowercase and special character.
            </small>
            <div class="invalid-feedback  ml-4 form-message"> </div>
        </div>
        <div class="form-group col-md-10 mt-4 form-row">
            <label for="password_confirmation" class="col-sm-2 col-form-label">Confirm Password</label>
            <input required type="password" class="form-control" id="password_confirmation" name="password_confirmation"
                placeholder="Confirm Password" value={{oldInput.password_confirmation}}>
            <i style="position: absolute; margin-left: 300px; height: 80%; opacity: 0.8;"
                class="fa fa-fw fa-eye-slash field-icon" onclick="passwordClickShowFunction(this)"></i>
            <div class="invalid-feedback ml-4 form-message"></div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10 mt-4">
                <label for="gender" class="col-sm-2 col-form-label">Gender</label>
                <select id="inputState" name="gender" class="form-control">
                    <option selected>Nam</option>
                    <option>Nữ</option>
                    <option>Khác</option>
                </select>
            </div>
            <div class="form-group col-md-10 mt-4">
                <label for="date_of_birth" class="col-sm-2 col-form-label">Date of birth</label>
                <input required type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                    value={{oldInput.date_of_birth}}>
                <div class="invalid-feedback ml-4 form-message"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10 mt-4">
                <label for="phone_number" class="col-sm-2 col-form-label">Number phone</label>
                <input required type="text" class="form-control" id="phone_number" name="phone_number"
                    value={{oldInput.phone_number}}>
                <div class="invalid-feedback ml-4 form-message"></div>
            </div>
            <div class="form-group col-md-10 mt-4">
                <label for="address" class="col-sm-2 col-form-label">Address</label>
                <textarea required type="text" class="form-control" id="address"
                    name="address">{{oldInput.address}}</textarea>
                <div class="invalid-feedback ml-4 form-message"></div>
            </div>
        </div>
        <div class="form-group col-md-10 mt-4 form-row">
            <a href="/auth/login">Already had account</a>
        </div>
        <div class="form-group col-md-10 mt-4 form-row">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </form>
</div>

<script src="/validators/loginValidator.js"></script>
<script>
    Validator({
        form: '#form-signup',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#user_name', 'Nhập tên đầy đủ'),
            Validator.isRequired('#email', 'Nhập email'),
            Validator.isRequired('#password', 'Nhập mật khẩu'),
            Validator.isRequired('#password_confirmation', 'Xác nhận lại mật khẩu'),
            Validator.isRequired('#date_of_birth', 'Nhập ngày sinh'),
            Validator.isRequired('#phone_number', 'Nhập số điện thoại'),
            Validator.isRequired('#address', 'Nhập địa chỉ'),
            Validator.confirmPassword('#password_confirmation', function () { return document.querySelector('#password').value }, 'Mật khẩu không khớp'),
            Validator.isEmail('#email', 'Email không hợp lệ')
        ]
    })

    function passwordClickShowFunction(e) {
        const password = e.closest('div').querySelector('input')  // password or confirm password
        if (password.type == 'password')
            password.type = 'text'
        else
            password.type = 'password'
        e.classList.toggle('fa-eye-slash')
        e.classList.toggle('fa-eye')
    }

</script>