<div class="container">
    <a href="/stored/movies/create" class="btn btn-outline-primary ml-4 mr-4 mt-4">Thêm phim</a>
    <a href="/stored/timelines" class="btn btn-outline-primary ml-4 mr-4 mt-4">Lịch chiếu</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên phim</th>
                {{!-- <th scope="col">Thể loại</th> --}}
                <th scope="col">Thời lượng</th>
                <th scope="col">Ngày khỏi chiếu</th>
                {{!-- <th scope="col">Đạo diễn</th>
                <th scope="col">Diễn viên</th> --}}
                <th scope="col" colspan="4">Mô tả</th>
                <th scope="col" colspan="2">Quốc gia</th>
                {{!-- <th scope="col">Đánh giá</th> --}}
                {{!-- <th scope="col">Số vé bán</th> --}}
                {{!-- <th scope="col">Poster</th> --}}
                {{!-- <th scope="col">Trailer</th> --}}
                <th scope="col">Tác vụ</th>

            </tr>
        </thead>
        <tbody>
            {{#each movies}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                {{!-- <td>{{this.genre}}</td> --}}
                <td>{{this.duration}}</td>
                <td>{{this.release_date}}</td>
                {{!-- <td>{{this.director}}</td>
                <td>{{this.actor}}</td> --}}
                <td colspan="4">{{this.description}}</td>
                <td colspan="2">{{this.country}}</td>
                {{!-- <td>{{this.rating}}</td>
                <td>{{this.sold_ticket}}</td>
                <td>{{this.poster}}</td>
                <td>{{this.trailer}}</td> --}}
                <td class="flex">
                    <a type="button" href="/stored/movies/{{this._id}}/edit"><button
                            class="button btn-outline-primary mr-3">Sửa</button></a>
                    {{!-- <a href="" class="button btn-outline-primary mr-3" data-id="" data-toggle="modal"
                        data-target="#deleteModal">Xoá</a> --}}
                    <button type="button" class="btn-outline-primary " data-id={{this._id}} data-toggle="modal"
                        data-target="#deleteModal">Xoá</button>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<form method="POST" name="deleteForm"></form>


<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this movie?</p>
            </div>
            <div class="modal-footer">
                <button id="btnDelete" type="button" class="btn btn-danger">Delete</button>
                <button type="buttonCancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    // wait for load all content (css, jquery,...)
    document.addEventListener("DOMContentLoaded", function () {
        var deleteId
        const btnDelete = document.getElementById('btnDelete')
        var deleteForm = document.forms['deleteForm']
        // while show dialog
        $('#deleteModal').on('show.bs.modal', function (event) {
            console.log('id')
            var button = $(event.relatedTarget)
            deleteId = button.data('id')
        })
        // click btn delete
        btnDelete.onclick = function (event) {
            deleteForm.action = `/stored/movies/${deleteId}?_method=DELETE`
            deleteForm.submit()
        }
    })
</script>
<script>
    function clickEdit(e) {
        const tdDate = e.closest('tr').querySelector('.td-date')
        const tdTime = e.closest('tr').querySelector('.td-time')
        const tdRoom = e.closest('tr').querySelector('.td-room')
        const btnUpdate = e.closest('td').querySelector('#btnUpdate')
        btnUpdate.classList.toggle('hidden')
        e.classList.toggle('hidden')
        tdDate.readOnly = false
        tdTime.readOnly = false
        tdRoom.readOnly = false
    }

    function clickUpdate(e) {
        var updateForm = document.forms['updateForm']
        const deleteId = e.getAttribute('data-id')
        const tr = e.closest('tr')
        const date = tr.querySelector('input#date').value
        const time = tr.querySelector('input#time').value
        const room = tr.querySelector('input#room').value
        console.log(updateForm.querySelector("input#date"))
        updateForm.querySelector("input").value = date
        updateForm.querySelector("input:nth-child(2)").value = time
        updateForm.querySelector("input:nth-child(3)").value = room
        updateForm.action = `/stored/timelines/${deleteId}?_method=PUT`
        updateForm.submit()
    }
</script>